.about-section {
    display: flex;
    justify-content: space-between;

    background-image: url('/src/img/lift-weight.png');
    background-repeat: no-repeat;
    //background-position-x: 250px;
    background-position-y: -400px;

    height: 760px;

    .cta-content {
        width: 30%;
    }

    .icon-content {
        width: 60%;
        ul {
            li {
                font-family: $cabin-font;
                font-size: .9rem;
                text-transform: none;
                margin-top: 20px;

                img {
                    margin-right: 20px;
                }
            }
        }
    }
}