.about-section {
    display: flex;
    justify-content: space-between;

    background-image: url('/src/img/lift-weight-2x.png');
    background-repeat: no-repeat;
    background-size: 210%;
    background-position-y: -430px;
    background-position-x: -510px;

    height: 650px;
    margin-top: 60px;

    .cta-content {
        width: 30%;
    }

    .icon-content {
        width: 60%;
        ul {
            li {
                font-family: $cabin-font;
                font-size: .9rem;
                text-transform: none;
                margin-top: 20px;

                img {
                    margin-right: 20px;
                    //margin-top: 5px;
                }
            }
        }
    }
}