@import url('https://fonts.googleapis.com/css?family=Cabin:400,700&display=swap');
@import url("https://use.typekit.net/oyy1dqo.css");

@mixin font($font-size, $line-height, $color, $font-weight) {
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    font-weight: $font-weight;
}

h1 {
    font-family: almaq-rough, sans-serif;
        @include font(11rem, .7em, $yellow, 400);
}

h2 {
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
        @include font(2rem, .75em, $yellow, 700);
}

h3 {
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
        @include font(1.2rem, .75em, $light-gray, 400);
}

h4 {
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
}

h5, h6 {
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
        @include font(1rem, .05em, $white, 400);
}

p {
    font-family: 'Cabin', sans-serif;
        @include font(.95rem, .05em, $white, 400);
}

ul, li, a {
        font-family: korolev-military-stencil, sans-serif;
        text-decoration: none;
        list-style-type: none;
            @include font(1.75rem, .9em, $gray, 400);
}