@import url('https://fonts.googleapis.com/css?family=Cabin:400,700&display=swap');
@import url("https://use.typekit.net/oyy1dqo.css");

@mixin font($font-size, $line-height, $color, $font-weight) {
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    font-weight: $font-weight;
}

h1 {
    font-family: $almaq-font;
    text-transform: uppercase;
        @include font(7rem, .8em, $yellow, 400);
}

h2 {
    font-family: $cabin-font;
    text-transform: uppercase;
        @include font(2rem, .75em, $yellow, 700);
}

h3 {
    font-family: $cabin-font;
    text-transform: uppercase;
        @include font(1.2rem, 1em, $yellow, 700);
}

h4 {
    font-family: $cabin-font;
    text-transform: uppercase;
        @include font(.8rem, .5em, $white, 700);
}

h5, h6 {
    font-family: $cabin-font;
        @include font(.7rem, .2em, $light-gray, 400);
}

p {
    font-family: $cabin-font;
        @include font(.95rem, 1.5em, $light-gray, 400);
}

span.gym-lemon {
    font-family: $korolev-font;
        @include font(.95rem, 1.5em, $yellow, 400);

}

ul, li, a {
        font-family: $korolev-font;
        text-decoration: none;
        list-style-type: none;
        text-transform: uppercase;
            @include font(1.2rem, .9em, $gray, 400);
}